# Created by https://www.toptal.com/developers/gitignore/api/node,dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=node,dotenv

### dotenv ###
.env

# Dependency directories
node_modules/
